.cart_menu {
  width: 30rem;
  height: 100%;
  overflow-y: scroll;
  max-height: fit-content;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem 2rem;
  background-color: #cdc9c9;
  transition: all 0.2s;
  z-index: 9;

  //   .cart_header {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-around;

  //     img {
  //       width: 1.1rem;
  //       cursor: pointer;
  //     }

  //     .nav_element {
  //       margin-left: 2rem;
  //       color: #fff;
  //       font-size: 1.1rem;
  //       cursor: pointer;
  //     }
  //   }

  h2 {
    margin-top: 2.5rem;
    font-weight: 400;
  }

  .product_container {
    z-index: 11;
    position: relative;

    .cart_product {
      display: flex;
      width: 24.9rem;
      margin: 1rem 0;

      img {
        width: 45%;
        object-fit: cover;
      }

      .cart_right {
        margin-left: 1rem;

        p {
          margin: 1rem 0;
        }

        button {
          display: flex;
          align-items: center;
          background-color: #222;
          color: #fff;
          padding: 0.2rem 0.5rem;
          border: none;
          cursor: pointer;

          img {
            width: 0.7rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

.change {
  transform: translateX(30rem);
}
