body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  /* overflow-x: hidden; */
}

html {
  font-size: 62.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* color variables */

:root {
  --white: #ffff;
  --light-white: #fff9;
  --black: #000;
  --grey: #666;
  --maroon: #f25052;
}
